<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Forloop.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>2714F96EEB344221514E0F8F21B61170F0BE3ED4</string>
				<key>dateExpires</key>
				<string>25/09/20</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2714F96EEB344221514E0F8F21B61170F0BE3ED4</string>
						<key>dateExpires</key>
						<string>25/09/20</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AWSAPIGateway.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AJ67RUJC7P</string>
						<key>name</key>
						<string>Rishabh Dubey</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2714F96EEB344221514E0F8F21B61170F0BE3ED4</string>
						<key>dateExpires</key>
						<string>25/09/20</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AWSAppSync.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AJ67RUJC7P</string>
						<key>name</key>
						<string>Rishabh Dubey</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2714F96EEB344221514E0F8F21B61170F0BE3ED4</string>
						<key>dateExpires</key>
						<string>25/09/20</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AWSAuthCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AJ67RUJC7P</string>
						<key>name</key>
						<string>Rishabh Dubey</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2714F96EEB344221514E0F8F21B61170F0BE3ED4</string>
						<key>dateExpires</key>
						<string>25/09/20</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AWSAuthUI.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AJ67RUJC7P</string>
						<key>name</key>
						<string>Rishabh Dubey</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2714F96EEB344221514E0F8F21B61170F0BE3ED4</string>
						<key>dateExpires</key>
						<string>25/09/20</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AWSAutoScaling.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AJ67RUJC7P</string>
						<key>name</key>
						<string>Rishabh Dubey</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2714F96EEB344221514E0F8F21B61170F0BE3ED4</string>
						<key>dateExpires</key>
						<string>25/09/20</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AWSCloudWatch.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AJ67RUJC7P</string>
						<key>name</key>
						<string>Rishabh Dubey</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2714F96EEB344221514E0F8F21B61170F0BE3ED4</string>
						<key>dateExpires</key>
						<string>25/09/20</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AWSCognito.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AJ67RUJC7P</string>
						<key>name</key>
						<string>Rishabh Dubey</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2714F96EEB344221514E0F8F21B61170F0BE3ED4</string>
						<key>dateExpires</key>
						<string>25/09/20</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AWSCognitoIdentityProvider.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AJ67RUJC7P</string>
						<key>name</key>
						<string>Rishabh Dubey</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2714F96EEB344221514E0F8F21B61170F0BE3ED4</string>
						<key>dateExpires</key>
						<string>25/09/20</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AWSCognitoIdentityProviderASF.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AJ67RUJC7P</string>
						<key>name</key>
						<string>Rishabh Dubey</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2714F96EEB344221514E0F8F21B61170F0BE3ED4</string>
						<key>dateExpires</key>
						<string>25/09/20</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AWSCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AJ67RUJC7P</string>
						<key>name</key>
						<string>Rishabh Dubey</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2714F96EEB344221514E0F8F21B61170F0BE3ED4</string>
						<key>dateExpires</key>
						<string>25/09/20</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AWSDynamoDB.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AJ67RUJC7P</string>
						<key>name</key>
						<string>Rishabh Dubey</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2714F96EEB344221514E0F8F21B61170F0BE3ED4</string>
						<key>dateExpires</key>
						<string>25/09/20</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AWSEC2.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AJ67RUJC7P</string>
						<key>name</key>
						<string>Rishabh Dubey</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2714F96EEB344221514E0F8F21B61170F0BE3ED4</string>
						<key>dateExpires</key>
						<string>25/09/20</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AWSElasticLoadBalancing.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AJ67RUJC7P</string>
						<key>name</key>
						<string>Rishabh Dubey</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2714F96EEB344221514E0F8F21B61170F0BE3ED4</string>
						<key>dateExpires</key>
						<string>25/09/20</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AWSFacebookSignIn.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AJ67RUJC7P</string>
						<key>name</key>
						<string>Rishabh Dubey</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2714F96EEB344221514E0F8F21B61170F0BE3ED4</string>
						<key>dateExpires</key>
						<string>25/09/20</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AWSGoogleSignIn.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AJ67RUJC7P</string>
						<key>name</key>
						<string>Rishabh Dubey</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2714F96EEB344221514E0F8F21B61170F0BE3ED4</string>
						<key>dateExpires</key>
						<string>25/09/20</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AWSKinesis.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AJ67RUJC7P</string>
						<key>name</key>
						<string>Rishabh Dubey</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2714F96EEB344221514E0F8F21B61170F0BE3ED4</string>
						<key>dateExpires</key>
						<string>25/09/20</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AWSLambda.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AJ67RUJC7P</string>
						<key>name</key>
						<string>Rishabh Dubey</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2714F96EEB344221514E0F8F21B61170F0BE3ED4</string>
						<key>dateExpires</key>
						<string>25/09/20</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AWSMachineLearning.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AJ67RUJC7P</string>
						<key>name</key>
						<string>Rishabh Dubey</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2714F96EEB344221514E0F8F21B61170F0BE3ED4</string>
						<key>dateExpires</key>
						<string>25/09/20</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AWSMobileAnalytics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AJ67RUJC7P</string>
						<key>name</key>
						<string>Rishabh Dubey</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2714F96EEB344221514E0F8F21B61170F0BE3ED4</string>
						<key>dateExpires</key>
						<string>25/09/20</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AWSMobileClient.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AJ67RUJC7P</string>
						<key>name</key>
						<string>Rishabh Dubey</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2714F96EEB344221514E0F8F21B61170F0BE3ED4</string>
						<key>dateExpires</key>
						<string>25/09/20</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AWSS3.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AJ67RUJC7P</string>
						<key>name</key>
						<string>Rishabh Dubey</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2714F96EEB344221514E0F8F21B61170F0BE3ED4</string>
						<key>dateExpires</key>
						<string>25/09/20</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AWSSES.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AJ67RUJC7P</string>
						<key>name</key>
						<string>Rishabh Dubey</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2714F96EEB344221514E0F8F21B61170F0BE3ED4</string>
						<key>dateExpires</key>
						<string>25/09/20</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AWSSNS.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AJ67RUJC7P</string>
						<key>name</key>
						<string>Rishabh Dubey</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2714F96EEB344221514E0F8F21B61170F0BE3ED4</string>
						<key>dateExpires</key>
						<string>25/09/20</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AWSSimpleDB.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AJ67RUJC7P</string>
						<key>name</key>
						<string>Rishabh Dubey</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2714F96EEB344221514E0F8F21B61170F0BE3ED4</string>
						<key>dateExpires</key>
						<string>25/09/20</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AWSUserPoolsSignIn.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AJ67RUJC7P</string>
						<key>name</key>
						<string>Rishabh Dubey</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2714F96EEB344221514E0F8F21B61170F0BE3ED4</string>
						<key>dateExpires</key>
						<string>25/09/20</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AJ67RUJC7P</string>
						<key>name</key>
						<string>Rishabh Dubey</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2714F96EEB344221514E0F8F21B61170F0BE3ED4</string>
						<key>dateExpires</key>
						<string>25/09/20</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Charts.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AJ67RUJC7P</string>
						<key>name</key>
						<string>Rishabh Dubey</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2714F96EEB344221514E0F8F21B61170F0BE3ED4</string>
						<key>dateExpires</key>
						<string>25/09/20</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CountryPickerView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AJ67RUJC7P</string>
						<key>name</key>
						<string>Rishabh Dubey</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2714F96EEB344221514E0F8F21B61170F0BE3ED4</string>
						<key>dateExpires</key>
						<string>25/09/20</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBSDKCoreKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AJ67RUJC7P</string>
						<key>name</key>
						<string>Rishabh Dubey</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2714F96EEB344221514E0F8F21B61170F0BE3ED4</string>
						<key>dateExpires</key>
						<string>25/09/20</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBSDKLoginKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AJ67RUJC7P</string>
						<key>name</key>
						<string>Rishabh Dubey</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2714F96EEB344221514E0F8F21B61170F0BE3ED4</string>
						<key>dateExpires</key>
						<string>25/09/20</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FSCalendar.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AJ67RUJC7P</string>
						<key>name</key>
						<string>Rishabh Dubey</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2714F96EEB344221514E0F8F21B61170F0BE3ED4</string>
						<key>dateExpires</key>
						<string>25/09/20</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManagerSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AJ67RUJC7P</string>
						<key>name</key>
						<string>Rishabh Dubey</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2714F96EEB344221514E0F8F21B61170F0BE3ED4</string>
						<key>dateExpires</key>
						<string>25/09/20</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MGSwipeTableCell.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AJ67RUJC7P</string>
						<key>name</key>
						<string>Rishabh Dubey</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2714F96EEB344221514E0F8F21B61170F0BE3ED4</string>
						<key>dateExpires</key>
						<string>25/09/20</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MaterialTextField.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AJ67RUJC7P</string>
						<key>name</key>
						<string>Rishabh Dubey</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2714F96EEB344221514E0F8F21B61170F0BE3ED4</string>
						<key>dateExpires</key>
						<string>25/09/20</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>RSKPlaceholderTextView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AJ67RUJC7P</string>
						<key>name</key>
						<string>Rishabh Dubey</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2714F96EEB344221514E0F8F21B61170F0BE3ED4</string>
						<key>dateExpires</key>
						<string>25/09/20</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Reachability.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AJ67RUJC7P</string>
						<key>name</key>
						<string>Rishabh Dubey</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2714F96EEB344221514E0F8F21B61170F0BE3ED4</string>
						<key>dateExpires</key>
						<string>25/09/20</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AJ67RUJC7P</string>
						<key>name</key>
						<string>Rishabh Dubey</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2714F96EEB344221514E0F8F21B61170F0BE3ED4</string>
						<key>dateExpires</key>
						<string>25/09/20</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SQLite.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AJ67RUJC7P</string>
						<key>name</key>
						<string>Rishabh Dubey</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2714F96EEB344221514E0F8F21B61170F0BE3ED4</string>
						<key>dateExpires</key>
						<string>25/09/20</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SVProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AJ67RUJC7P</string>
						<key>name</key>
						<string>Rishabh Dubey</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2714F96EEB344221514E0F8F21B61170F0BE3ED4</string>
						<key>dateExpires</key>
						<string>25/09/20</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Starscream.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AJ67RUJC7P</string>
						<key>name</key>
						<string>Rishabh Dubey</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2714F96EEB344221514E0F8F21B61170F0BE3ED4</string>
						<key>dateExpires</key>
						<string>25/09/20</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Stripe.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AJ67RUJC7P</string>
						<key>name</key>
						<string>Rishabh Dubey</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2714F96EEB344221514E0F8F21B61170F0BE3ED4</string>
						<key>dateExpires</key>
						<string>25/09/20</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftyJSON.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AJ67RUJC7P</string>
						<key>name</key>
						<string>Rishabh Dubey</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2714F96EEB344221514E0F8F21B61170F0BE3ED4</string>
						<key>dateExpires</key>
						<string>25/09/20</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Tags.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AJ67RUJC7P</string>
						<key>name</key>
						<string>Rishabh Dubey</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>AJ67RUJC7P.com.Tecorb.Forloop</string>
				<key>com.apple.developer.team-identifier</key>
				<string>AJ67RUJC7P</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>AJ67RUJC7P.com.Tecorb.Forloop</string>
				</array>
			</dict>
			<key>name</key>
			<string>Forloop.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>d02b7edc-ca9e-475b-b814-ddc8c5fe3ad6</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>AJ67RUJC7P</string>
				<key>name</key>
				<string>Rishabh Dubey</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
